 /* Text Minifier */
 /* developed by Tawhidur Rahman Dear, https://www.tawhidurrahmandear.com */
 /* Live Preview available at https://www.devilhunter.net/p/minify-text.html */



/* Styles */
 
body {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  color: #000000;
}
  

/* Text Minifier Styles */

/* Input & Select Styles */
.text-minifier_input, .text-minifier_select {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #6600FF;
  border-radius: 5px;
  font-size: 14px;
  background-color: #ffffff;
}

.text-minifier_input:focus, .text-minifier_select:focus {
  border-color: #6600FF;
  outline: none;
}

/* Button Styles */
.text-minifier_button {
  padding: 15px 20px;
  background-color: #6600FF;
  color: #ffffff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.text-minifier_button:hover {
  background-color: #e0ccff;
  color: #000000;
  transition: background-color 0.5s ease;
}

/* Textarea Styles */
.text-minifier_textarea {
font-family: "Roboto Mono", "Source Code Pro", Consolas, Monaco, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 14px;
  width: 100%;
  height: 400px;
  padding: 25px;
  margin-top: 20px;
  border: 1px solid #6600FF;
  border-radius: 5px;
  font-size: 14px;
  background-color: #EEF3FA;
  resize: none;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;  
  word-wrap: break-word; 
  overflow-x: hidden; 
}

/* Link Styles */
#text-minifier p a {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  font-size: 10pt;
  font-weight: 700;
  color: #0078d7;
  text-decoration: none;
}

#text-minifier p a:hover {
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #text-minifier {
    padding: 25px;
  }

  .text-minifier_input, .text-minifier_select, .text-minifier_button, .text-minifier_textarea {
    font-size: 12px;
  }
}